<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="hello_m" frontName="hello_m">
            <module name="Pulsestorm_HelloWorldM" />
        </route>
    </router>
</config>